In [43]:
import pandas as pd

df = pd.read_csv('rawdata.csv', parse_dates=['date', 'time'], infer_datetime_format=True)
df

,date,time,sensor,location,number,activity,position,location.1
0,2024-01-16,2024-05-26 10:10:30,0.0,A1,1,placed,inside,A1
1,2024-01-16,2024-05-26 10:12:30,1.0,A2,1,picked,inside,A2
2,2024-01-16,2024-05-26 10:28:30,1.0,A3,1,picked,Inside,A3
3,2024-01-16,2024-05-26 10:38:20,0.0,A4,1,placed,Inside,A4
4,2024-01-16,2024-05-26 10:45:20,1.0,A5,1,placed,inside,A5
...,...,...,...,...,...,...,...,...
170,2024-01-18,2024-05-26 12:45:05,0.0,A8,2,placed,inside,A8
171,2024-01-18,2024-05-26 12:53:10,1.0,A9,2,picked,inside,A9
172,2024-01-18,2024-05-26 12:59:10,1.0,A10,2,placed,outside,A10
173,2024-01-18,2024-05-26 13:10:20,1.0,A11,2,picked,Inside,A11
174,2024-01-18,2024-05-26 13:18:30,0.0,A12,2,placed,inside,A12

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        175 non-null    datetime64[ns]
 1   time        175 non-null    datetime64[ns]
 2   sensor      174 non-null    float64
 3   location    175 non-null    object
 4   number      175 non-null    int64
 5   activity    175 non-null    object
 6   position    175 non-null    object
 7   location.1  175 non-null    object
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 11.1+ KB

In [41]:
df['date'] = pd.to_datetime(df['date'])
df['time'] = pd.to_datetime(df['time'], format='%H:%M:%S').dt.time

df['datetime'] = pd.to_datetime(df['date'].astype(str) + ' ' + df['time'].astype(str))
df = df.sort_values(by=['date', 'time'])
df['duration'] = df.groupby(['date', 'location'])['datetime'].diff().dt.total_seconds().fillna(0)

df['activity_type'] = df['activity'].apply(lambda x: 'placing' if 'placed' in x else 'picking')
activity_counts = df.groupby(['date', 'activity_type']).size().unstack(fill_value=0)

inside_duration = df[df['location'].str.lower() == 'inside'].groupby('date')['duration'].sum()
outside_duration = df[df['location'].str.lower() == 'outside'].groupby('date')['duration'].sum()

print("Datewise total duration for inside activities:")
print(inside_duration)
print("\nDatewise total duration for outside activities:")
print(outside_duration)
print("\nDatewise number of picking and placing activities:")
print(activity_counts)

Datewise total duration for inside activities:
Series([], Name: duration, dtype: float64)

Datewise total duration for outside activities:
Series([], Name: duration, dtype: float64)

Datewise number of picking and placing activities:
activity_type  picking  placing
date
2024-01-16          40       40
2024-01-17          10        9
2024-01-18          37       39